body{
    margin: 0px;
    padding: 0px;
    background-image: url("image/body.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left;
    background-color: black;
    color: white;
}
.left{
    display: inline-block;
}
.left img{
    position: absolute;
    left: 30px;
    top: 30px;
    height: 75px;
    width: 150px;
}
.left h2{
    display: block;
    margin: 0%;
    margin-left: 20px;
    letter-spacing: 2px;
    width: 200px;
    position: absolute;
    top: 110px;
    left: 10px;
}
.left h2 span{
    margin: 0%;
    width: 100px;
    color: rgb(204, 70, 13);
}
.mid{
    display: block;
    width: 33%;
    margin: 20px auto;
    
}
.navbar li{
    display: inline-block;
    padding: 10px;
    font-size: 25px;

}
.navbar li a{
    text-decoration: none;
    color: white;
}
.navbar li a:hover{
    text-decoration: underline;
    color: rgb(204, 70, 13);
}
.main{
    width: 400px;
    height: 500px;
    background-color: rgb(204, 70, 13);
    position: relative;
    top: 50px;
    left: 600px;
    border-radius: 30px;
}
.username{
    position: absolute;
    top: 100px;
    left: 30px;
    width: 300px;
}
.password{
    position: absolute;
    top: 200px;
    left: 30px;
    width: 300px;
}
input[type="text"],input[type="password"]{
    background-color: #33333352;
    color: white;
    width: 300px;
    height: 30px;
    border-radius: 30px;
    border: none;
    padding: 10px;
    margin: 10px;
    outline: none;
}
input[type="button"]{
    background-color: white;
    color: rgb(204, 70, 13);
    width: 320px;
    height: 50px;
    border-radius: 30px;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 320px;
    left: 45px;
    font-size: large;
    cursor: pointer;
}
.forgot{
    color: white;
    font-size: small;
    position: relative;
    top: 370px;
    left: 60px;
    display: inline-block;
    cursor: pointer;
}
.signup{
    color: white;
    font-size: small;
    position: relative;
    top: 370px;
    left: 200px;
    display: inline-block;
    cursor: pointer;
}